div.splash-content
  h1 Refuge Road Trip: See America Wild
  p Grab your sense of adventure and your car keys. I-95 is teeming with wildlife adventures. You just need to know where to look: at national wildlife refuges from Maine to Florida. 

  form
    input(type="checkbox" class="dont-show-again")
    label Do not show this message again
